.sequence {
    width: 40vw;
}

.table-results {
    border-collapse: collapse;
}

.table-results td, th {
    border: black solid 1px;
    padding: 5px 15px;
}

.chart {
    width: 800px;
    height: 600px;
}