.sequence {
    width: 40vw;
}

.table-results {
    border-collapse: collapse;
    margin-top: 20px;
    width: 95%;
}

.table-results td, th {
    border: black solid 1px;
    padding: 5px 15px;
}

.legend {
    text-align: center;
}

.chart {
    width: 50vw;
}

.algo-results {
    width: 40vw;
    margin-top: 2%;
}

.remove-button, .restore-button {
    display: none;
}

.progression {
    width: 62%;
    margin-left: 30px;
}

.kmr {
    display: flex;
    justify-content: space-around;
}